.App {
  background-color: #fafafa;
}

.countries__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 75px;
  padding: 0 80px;
}

.preview {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.04);
  width: 265px;
  background-color: #fff;
  font-family: sans-serif;
}
.preview__flag {
  width: 100%;
  height: auto;
}
.preview a {
  text-decoration: none;
}
.preview h3 {
  margin-bottom: 12px;
}
.preview p {
  margin-bottom: 6px;
}

.preview__info {
  padding: 24px;
  color: #000;
}

.country__border {
  color: #000;
  margin-right: 6px;
  padding: 6px 12px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.header {
  border-bottom: 2px solid #000;
  margin-bottom: 80px;
  background-color: #fff;
}
