.fullview {
  padding: 0 80px;
}

.btn--back {
  height: 40px;
  width: 136px;
  border-radius: 6px;
  background-color: #fff;
  font-size: 16px;
  color: #000;
  margin-bottom: 80px;
  margin-top: 32px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  transition: box-shadow ease 200ms;
}
.btn--back:hover {
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.2);
}

.back--arrow {
  font-size: 24px;
  font-weight: 600;
  padding-right: 6px;
}

.theme-dark .btn--back {
  color: #fff;
  background-color: #2b3743;
}

.fullview__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}

.country__flag {
  width: 560px;
}
.country__flag img {
  width: 100%;
  height: auto;
}

.country__info {
  width: 50%;
  font-family: 'Nunito Sans', sans-serif;
  color: #000;
  font-size: 16px;
}
.country__info p {
  margin-bottom: 10px;
}
.country__info--container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 76px;
}
.info--headline {
  font-weight: 600;
}
.country__name {
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 32px;
}

.country__borders {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;

  gap: 10px;
  height: auto;
  align-items: center;
}
.country__border {
  color: #000;
  margin-right: 10px;
  padding: 5px 26px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  border-radius: 4px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: content;
}

.theme-dark .country__info {
  color: #fff;
  /* 2B3743 */
}

.theme-dark .country__border {
  background-color: #2b3743;
}
