.fullview {
  padding: 0 80px;
  padding-top: 80px;
  min-height: calc(100vh - 80px);
  /* background-color: #fff; */
}

.btn--back {
  height: 40px;
  width: 136px;
  border-radius: 6px;
  background-color: #fff;
  font-size: 16px;
  color: #000;
  margin-bottom: 80px;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow ease 200ms;
}
.btn--back:hover {
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.2);
}

.back--arrow {
  display: flex;
  align-items: center;
  padding-right: 6px;
}

.icon-arrow-back {
  width: 24px;
  height: 24px;
}
.btn--back .icon-arrow-back {
  transform: translateX(0%);
  transition: transform ease 200ms;
}
.btn--back:hover .icon-arrow-back {
  transform: translateX(-14%);
}
.theme-dark .btn--back {
  color: #fff;
  background-color: #2b3743;
}

.fullview__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}

.country__flag {
  width: 560px;
}
.country__flag img {
  width: 100%;
  height: auto;
  box-shadow: 0 0 12px #b3c2d1;
}

.country__info {
  width: 50%;
  font-family: 'Nunito Sans', sans-serif;
  color: #000;
  font-size: 16px;
}
.country__info p {
  margin-bottom: 10px;
}
.country__info--container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 76px;
}
.info--headline {
  font-weight: 600;
}
.country__name {
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 32px;
}

.country__borders {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;

  gap: 10px;
  height: auto;
  align-items: center;
}
.country__border {
  color: #000;
  margin-right: 10px;
  padding: 5px 26px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  border-radius: 4px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: content;
}

.theme-dark .fullview {
  background-color: #212e37;
}

.theme-dark .country__info {
  color: #fff;
  /* 2B3743 */
}

.theme-dark .country__border {
  background-color: #2b3743;
}

.theme-dark .country__flag img {
  box-shadow: 0 0 12px #2b3743;
}

@media (max-width: 1200px) {
  .country__info--container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 45px;
    gap: 45px;
  }
  .fullview__container {
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 60px;
    gap: 60px;
  }
  .country__flag {
    padding-top: 80px;
  }
}

@media (max-width: 600px) {
  .fullview__container {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    /* padding: 0 16px; */
  }
  .fullview {
    padding: 0 28px;
    padding-top: 40px;
    padding-bottom: 60px;
    min-height: calc(100vh - 80px);
  }

  .btn--back {
    margin-bottom: 64px;
    height: 32px;
    width: 104px;
  }
  .country__flag {
    width: 100%;
  }
  .country__info {
    justify-self: flex-start;
    align-self: flex-start;
    width: 100%;
    font-size: 14px;
  }
  .country__name {
    font-size: 22px;
  }
  .country__info--container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 45px;
    gap: 45px;
  }

  .country__borders .info--headline {
    width: 100%;
    font-size: 16px;
    margin-bottom: 13px;
  }
}
