.preview {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.04);
  width: 264px;
  background-color: #fff;
  font-family: 'Nunito Sans', sans-serif;
  border-radius: 6px;
  overflow: hidden;
  font-size: 14px;
  /* margin-right: auto; */
  transition: box-shadow ease 200ms;
}

.preview:hover {
  box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.1);
}

.preview__flag {
  width: auto;
  height: 160px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.preview a {
  text-decoration: none;
}
.preview h3 {
  margin-bottom: 12px;
  font-size: 17px;
  font-weight: 800;
}
.preview p {
  margin-bottom: 6px;
}

.preview__info {
  padding: 30px 24px;
  color: #000;
}

.preview__headline {
  font-weight: 600;
}

.theme-dark .preview {
  background-color: #2b3743;
  box-shadow: 0 6px 6px rgb(31, 44, 53);
}

.theme-dark .preview:hover {
  background-color: #2b3743;
  box-shadow: 0 14px 14px rgb(28, 39, 47);
}

.theme-dark .preview__info {
  color: #fff;
}

.preview-flag-container {
  height: 160px;
  background-position: center;
  background-size: cover;
}
